<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Security</title>
  <link rel="stylesheet" th:href="@{/style.css}">
  <header>
    <h1 class="header">
      TABLA DE ALIMENTACIÓN FIT
    </h1>
  </header>
</head>

<body>
  <table class="tabla-alimentacion">
    <thead>
      <tr>
        <th>Día</th>
        <th>Desayuno</th>
        <th>Almuerzo</th>
        <th>Merienda</th>
        <th>Cena</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lunes</td>
        <td>2 huevos revueltos con 1/2 taza de arroz integral, 1 taza de frutas frescas y 1 taza de leche descremada
        </td>
        <td>100 gramos de carne magra a la plancha, 1/2 taza de arroz integral, 1 taza de verduras al vapor</td>
        <td>1 yogur griego con 1/2 taza de frutas frescas y 1 cucharada de frutos secos</td>
        <td>100 gramos de pescado a la plancha, 1/2 taza de arroz integral, 1 taza de verduras al horno</td>
      </tr>
      <tr>
        <td>Martes</td>
        <td>1 taza de avena con 1 taza de leche descremada, 1/2 taza de frutas frescas y 1 cucharada de frutos secos
        </td>
        <td>100 gramos de pollo a la parrilla, 1/2 taza de quinoa, 1 taza de ensalada de hojas verdes</td>
        <td>1 sándwich de pan integral con 100 gramos de queso blanco y 1 taza de frutas frescas</td>
        <td>100 gramos de tofu a la parrilla, 1/2 taza de quinoa, 1 taza de ensalada de hojas verdes</td>
      </tr>
      <tr>
        <td>Miércoles</td>
        <td>1 tostada de pan integral con 1 huevo duro, 1/2 taza de queso blanco y 1 taza de frutas frescas</td>
        <td>100 gramos de legumbres, 1/2 taza de pasta integral, 1 taza de verduras salteadas</td>
        <td>1 taza de leche descremada con 1/2 taza de granola y 1 cucharada de frutos secos</td>
        <td>100 gramos de huevos revueltos con 1/2 taza de verduras salteadas</td>
      </tr>
      <tr>
        <td>Jueves</td>
        <td>2 huevos revueltos con 1/2 taza de arroz integral, 1 taza de frutas frescas y 1 taza de leche descremada</td>
        <td>100 gramos de carne magra a la plancha, 1/2 taza de arroz integral, 1 taza de verduras al vapor</td>
        <td>1 yogur griego con 1/2 taza de frutas frescas y 1 cucharada de frutos secos</td>
        <td>100 gramos de pescado a la plancha, 1/2 taza de arroz integral, 1 taza de verduras al horno</td>
      </tr>
      <tr>
        <td>Viernes</td>
        <td>1 taza de avena con 1 taza de leche descremada, 1/2 taza de frutas frescas y 1 cucharada de frutos secos</td>
        <td>100 gramos de pollo a la parrilla, 1/2 taza de quinoa, 1 taza de ensalada de hojas verdes</td>
        <td>1 sándwich de pan integral con 100 gramos de queso blanco y 1 taza de frutas frescas</td>
        <td>100 gramos de tofu a la parrilla, 1/2 taza de quinoa, 1 taza de ensalada de hojas verdes</td>
      </tr>
      <tr>
        <td>Sábado</td>
        <td>1 tostada de pan integral con 1 huevo duro, 1/2 taza de queso blanco y 1 taza de frutas frescas</td>
        <td>100 gramos de legumbres, 1/2 taza de pasta integral, 1 taza de verduras salteadas</td>
        <td>1 taza de leche descremada con 1/2 taza de granola y 1 cucharada de frutos secos</td>
        <td>100 gramos de huevos revueltos con 1/2 taza de verduras salteadas</td>
      </tr>
      <tr>
        <td>Domingo</td>
        <td>2 huevos revueltos con 1/2 taza de arroz integral, 1 taza de frutas frescas y 1 taza de leche descremada</td>
        <td>100 gramos de carne magra a la plancha, 1/2 taza de arroz integral, 1 taza de verduras al vapor</td>
        <td>1 yogur griego con 1/2 taza de frutas frescas y 1 cucharada de frutos secos</td>
        <td>100 gramos de pescado a la plancha, 1/2 taza de arroz integral, 1 taza de verduras al horno</td>
      </tr>
    </tbody>
  </table>

</body>

</html>