<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <link rel="stylesheet" th:href="@{/login.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
</head>
<body>
    <div class="wrapper">
        <form action="/login" class="form" method="post">
            <h1 class="title">Inicio</h1>
            <div class="inp">
                <input type="text" name="user" id="user" class="input" placeholder="Usuario" required>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="password" name="password" id="password" class="input" placeholder="Contraseña" required>
                <i class="fas fa-lock"></i>
            </div>
            <button class="sumbit">Iniciar Sesión</button>
            <p class="fooster">¿No tienes cuenta?<a href="/register/" class="link"> Regístrate</a></p>
        </form>
        <div></div>
        <div class="banner">
            <h1 class="wel_text">BIENVENIDO</h1>
            <p class="para">Inicia Sesion<br/>Para poder acceder<br/>a tu cuenta</p>
        </div>
    </div>
</body>
</html>